#chart-min {
    opacity: 0.1;
    fill: #0000ff;
}

#cvg-avg {
    opacity: 0.1;
    fill: #00ff00;
}

#chart-max {
    opacity: 0.1;
    fill: #ff0000;
}

#svg-min,
#svg-avg,
#svg-max {
    position: absolute;
    top: 0;
    right: 0;
}

.max-text {
    font-size: 30%;
    fill: #ff0000;
}
