#chart-min {
    fill: lightblue;
}

#chart-avg {
    fill: #00ff00;
}

#chart-max {
    fill: #ff0000;
}

#chart-max,
#chart-avg,
#chart-min {
    opacity: 0.1;
}

#svg-min,
#svg-avg,
#svg-max {
    position: absolute;
    top: 0;
    right: 0;
}



.max-text,
.min-text,
.avg-text {
    font-size: 70%;
    opacity: 1;
}
